CompileFlags:
  Add:
    - -std=c++17
    - --cuda-path=E:\\Program Files\\NVIDIA GPU Computing Toolkit\\CUDA\\v12.2
    - -LE:\\Program Files\\NVIDIA GPU Computing Toolkit\\CUDA\\v12.2\\lib\\x64
    - -IE:\\Program Files\\NVIDIA GPU Computing Toolkit\\CUDA\\v12.2\\include
  Remove:
    - -forward-unknown-to-host-compiler
    - --generate-code*
    - -rdc=true
    - -gencode